
#ignore the generated nuget package for this project (will still include other dependency nuget packages)
/ParseHelper/ParseHelper*.nupkg
Desktop.ini
*.cab
*.msi
*.msm
*.msp
*.lnk

#ignore binaries
bin/
obj/
TestResults/

*.dll
*.exe
Thumbs.db
*.pdb
*.dll.config

# Include dlls if they’re in the NuGet packages directory
!/packages/*/lib/*.dll
# Include dlls if they're in the CommonReferences directory
!*CommonReferences/*.dll


